<%- include('../partials/header') %>

<h2>Founders</h2>
<section id="new-founders-view">
    <% founders.forEach(function(f){ %>
      <% if(f.googleId == user.googleId) { %>
        <div id="info">
            <a href="/founders/<%= f.id %>"><div id="descriptionshref"><%= f.name %></div></a>
            <% if(f.likes.length > 0) { %>
              <div id="amount-of-likes">
                <%= f.likes.length %> like<% if(f.likes.length > 1) { %>s<% } %>
              </div>
              <% if(f.wasPresident === "Yes") { %>
                <div id="pres-description">He was a President</div>
              <% } %>
            <% } else { %>
              <% if(f.wasPresident === "Yes") { %>
                <div id="descriptions">He was a President</div>
              <% } %>
            <% } %>
            <div id="mug"><img src=<%= f.imgURL %> class="mugshot"></div>
            <div id="home-state"><span>From <%= f.homeState %></span></div>
            <div id="descriptions">Birthday: <%= f.birthDayFormatted %></div>
            <div id="descriptions"><%= f.shortBio %></div>
            <div id="descriptions">
              <% if(( user ) && ( user.googleId === f.googleId )) { %>
                <form action="/founders/<%= f.id %>?_method=DELETE"
                class="delete-form" method="POST">
                  <button type="submit" id="delete-button">X</button>
                </form>
              <% } %>
            <br></div>
          </div>
      <% } %>
    <% }) %>
</section>

<h2>Documents</h2>
<section id="docList">
    <% documents.forEach(function(d) { %>
      <% if(d.googleId == user.googleId) { %>
        <div id="one-doc">
            <div id="doc-title"><%= d.title %></div>
            <div id="doc-descriptions">
              <div id="descriptions" style="text-decoration: underline;"><b>Date Signed: </b></div>
              <div id="descriptions" style="text-decoration: underline;"><b>Historical Significance: </b></div>
              <div id="descriptions"><%= d.dateSignedFormatted %></div>
              <div id="descriptions"></divid><%= d.significance %></div>
            </div>
            <hr>
            <div id="descriptions">
              <% if(( user ) && ( user.googleId === d.googleId )) { %>
                <form action="/documents/<%= d.id %>?_method=DELETE"
                class="delete-form" method="POST">
                  <button type="submit" id="delete-button">X</button>
                </form>
              <% } %>
            </div>
        </div>
      <% } %>
    <% }) %>
</section>

<%- include('../partials/footer') %>