<%- include('../partials/header') %>

<section id="new-founders-view">
    <% founders.forEach(function(f){ %>
        <% if(f.googleId == user.googleId) { %>
        <div id="info">
            <div><a href="/founders/<%= f.id %>"><%= f.name %></a></div>
            <div><%= f.wasPresident %></div>
            <div><%= f.birthDay %></div>
            <div><%= f.homeState %></div>
            <div><%= f.bio %></div>
            <div>
                <% if(( user ) && ( user.googleId === f.googleId )) { %>
                    <form action="/founders/<%= f.id %>?_method=DELETE"
                        class="delete-form" method="POST">
                        <button type="submit">X</button>
                    </form>
                <% } %>
            </div>
        </div>
        <% } %>
    <% }) %>
</section>



<%- include('../partials/footer') %>