<%- include('../partials/header') %>

<section id="like-section">
<% if(user) { %>
    <% var alreadyLiked = false; %>
    <% founder.likes.forEach(function(l) { %>
        <% if(l = user.googleId) { %>
            <% alreadyLiked = true %>
        <% } %>
    <% }) %>
    <% if(alreadyLiked) { %>
        <form id="dislike-button" action="/founders/<%= founder.id %>/likes?_method=DELETE" method="POST">
            <i class="fa fa-thumbs-up" style="font-size:36px"></i>  
            <input type="submit" value="unlike">
        </form>
    <% } else { %>
        <form id="like-button" action="/founders/<%= founder.id %>/likes" method="POST">
            <input type="submit" value="like">
        </form>
    <% } %>
  <% } else { %>
    <div>Log in to Like</div>
  <% } %>
</section>

<section id="whole-founder">
  <section id="Tablee">
    <br><div id="founder-name"><%= founder.name %></div>
    <% if(founder.wasPresident === "Yes") { %>
      <div id="descriptions">He was a President</div>
    <% } else { %>
    <% } %>
    <div>Birthday: <%= founder.birthDay %></div>
    <div>Home State: <%= founder.homeState %></div>
    <div>Bio: <%= founder.bio %></div>
    <a href="/founders/<%= founder.id %>/edit"><button>Edit</button></a>
  </section>
  <div></div>
  <section id="founders-documents">
    <form id="add-doc-to-founder" action="/founders/<%= founder.id %>/documents" method="POST">
      <select name="documentId">
        <%- documents.map(d => `<option value="${d._id}">${d.title}</option>)`).join('') %>
      </select>
      <button type="submit">Add the Document to the Signer</button>
    </form>

    <section id="documents-signed">
      <% founder.documentsSigned.forEach(function(d) { %>
        <div><%= d.title %></div>
      <% }) %>
    </section>
  </section>
  
  <section id="achievements-section">
    <% founder.achievements.forEach(function(f) { %>
      <div><%= f.achievement %><button>Edit</button></div>
    <% }) %>
    <form id="new-achievements" action="/founders/<%= founder.id %>/achievements" method="POST">
      <input type="text" name="achievement">
      <br><input type="submit" value="Add Personal Achievement">
    </form>
  </section>
</section>


<%- include('../partials/footer') %>