<%- include('../partials/header') %>

<section id="Tablee">
    <div>Name:</div>
    <div><%= founder.name %></div>
    <div>Was he president?</div>
    <div><%= founder.wasPresident %></div>
    <div>Birthday</div>
    <div><%= founder.birthDay %></div>
    <div>Home State</div>
    <div><%= founder.homeState %></div>
    <div>Bio</div>
    <div><%= founder.bio %></div>
</section>
<br>
<a href="/founders/<%= founder.id %>/edit"><button>Edit</button></a>
<br><br><br>
<form id="add-doc-to-founder" action="/founders/<%= founder.id %>/documents" method="POST">
    <select name="documentId">
        <%- documents.map(d => `<option value="${d._id}">${d.title}</option>)`).join('') %>
    </select>
    <button type="submit">Add the Document to the Signer</button>
</form>
<br>
<section id="documents-signed">
    <% founder.documentsSigned.forEach(function(d) { %>
        <div><%= d.title %></div>
    <% }) %>
</section>
<br><br><br>
<section id="achievements-section">

    <% founder.achievements.forEach(function(f) { %>
        <div><%= f.achievement %></div>
    <% }) %>

    <br><br><br>
    <form id="new-achievements" action="/founders/<%= founder.id %>/achievements" method="POST">
        <input type="text" name="achievement">
        <br><input type="submit" value="Add Personal Achievement">
    </form>
</section>

<%- include('../partials/footer') %>