<%- include('../partials/header') %>

<section id="like-section">

  <% if(user) { %>
    <% var alreadyLiked = false; %>
    <% founder.likes.forEach(function(l) { %>
      <% if(l === user.googleId) { %>
        <% alreadyLiked = true %>
      <% } %>
    <% }) %>
    <% if(alreadyLiked) { %>
      <form id="dislike-button" action="/founders/<%= founder.id %>/likes?_method=DELETE" method="POST">
        <button type="submit">
            <i class="fa fa-thumbs-up"></i>  
            unlike
        </button>
      </form>
    <% } else { %>
      <form id="like-button" action="/founders/<%= founder.id %>/likes" method="POST">
        <input type="submit" value="like">
      </form>
    <% } %>
  <% } else { %>
    <div>Log in to Like</div>
  <% } %>
  
</section>


<section id="profile">

  <div id="founder-name"><%= founder.name %></div>
  <% if(founder.wasPresident === "Yes") { %>
    <div id="descriptions">He was a President</div>
  <% } else { %>
  <% } %>

  <section id="profile-info">
    <section id="profile-img">
        <div id="bigMug"><img src=<%= founder.imgURL %> class="bigMug"></div>
    </section>

    <section id="profile-desc">
      <br><br><div id="descriptions">Birthday:</div>
      <div id="profile-about"><%= founder.birthDayFormatted %></div>
      <br><br><div id="descriptions">Home State:</div>
      <div id="profile-about"><%= founder.homeState %></div>
    </section> 
  </section>

  <div id="descriptions"><%= founder.bio %></div>
  <% if(user) { %>
    <% if(user.googleId === founder.googleId) { %>
        <a href="/founders/<%= founder.id %>/edit" id="selector"><button>Edit</button></a>
    <% } %>
  <% } %>
</section>

<section id="whole-founder">

  <section id="founders-documents">
    <div id="descriptions-heading">Documents Signed</div>
    <section id="documents-signed">
        <% founder.documentsSigned.forEach(function(d) { %>
          <div id="doc-description"><%= d.title %></div>
          <hr style="width:50%">
        <% }) %>
    </section>  
    <form id="add-doc-to-founder" action="/founders/<%= founder.id %>/documents" method="POST">
      <select name="documentId" id="selector">
        <%- documents.map(d => `<option value="${d._id}">${d.title}</option>)`).join('') %>
      </select>
      <button type="submit" id="selector">Add the Document to the Signer</button>
    </form>
  </section>
  
  <section id="achievements-section">
    <div id="descriptions-heading">Personal Achievements</div>
    <ul>  
      <% founder.achievements.forEach(function(a) { %>
        <li id="achievement-desc"><%= a.achievement %></li>
      <% }) %>
    </ul>
    <hr><form id="new-achievements" action="/founders/<%= founder.id %>/achievements" method="POST">
      <input type="text" name="achievement" id="achievements-input" placeholder="Achievement">
      <input type="submit" value="Add Personal Achievement" id="selector">
    </form>
  </section>

</section>


<%- include('../partials/footer') %>