<%- include('../partials/header') %>

<section id="Tablee">
    <div>Name:</div>
    <div><%= founder.name %></div>
    <div>Was he president?</div>
    <div><%= founder.wasPresident %></div>
    <div>Birthday</div>
    <div><%= founder.birthDay %></div>
    <div>Home State</div>
    <div><%= founder.homeState %></div>
    <div>Bio</div>
    <div><%= founder.bio %></div>
</section>

<%- include('../partials/footer') %>